<!-- views/pages/contact.ejs -->
<% include ../partials/head %>
<body class="<%= Lang %> subpage" data-subpage="contact" data-lang="<%= Lang %>">

  <div class="cmcm-wrapper">
    <section class="first-screen" id="CMCM_FirstScreen">
      <% include ../partials/header %>
    </section>

    <section class="subpage-content CMCM_SubpageContent">
      <div class="manage-width clearfix">
        <div class="submenu-nav left has-trans CMCM_SubMenus" id="CMCM_SubPageMenu_contact">
          <b id="CMCM_SubMenuHeadAnchor"></b>
          <div class="category-unit">
            <a class="category-name has-trans CMCM_SubMenuItem active" href="#<%= mediaLink %>"><%= mediaName %></a>
          </div><!-- category unit -->
          <div class="category-unit">
            <a class="category-name has-trans CMCM_SubMenuItem" href="#<%= socialLink %>"><%= socialName %></a>
          </div><!-- category unit -->
          <div class="category-unit">
            <a class="category-name has-trans CMCM_SubMenuItem" href="#<%= businessLink %>"><%= businessName %></a>
          </div><!-- category unit -->
          <div class="category-unit">
            <a class="category-name has-trans CMCM_SubMenuItem" href="#<%= officesLink %>"><%= officesName %></a>
          </div><!-- category unit -->
          <div class="category-unit">
            <a class="category-name has-trans CMCM_SubMenuItem" href="#<%= customerLink %>"><%= customerName %></a>
          </div><!-- category unit -->
          <b id="CMCM_SubMenuBottomAnchor"></b>
        </div>
        <div class="sublist-container right" id="CMCM_ContactContents"></div>
      </div><!-- manage width -->
      <b id="CMCM_SubPageContentBottom"></b>
    </section><!-- subpage content -->


    <% include ../partials/footer %>
  </div><!-- .cmcm-wrapper -->
  <script src="/dist/index.min.js?v=1637"></script>
</body>
</html>
