<!-- views/pages/index.ejs -->

<% include ../partials/head %>
<body class="<%= Lang %> index" data-lang="<%= Lang %>">

  <div class="cmcm-wrapper">
    <section class="first-screen" id="CMCM_FirstScreen">
      <% include ../partials/header %>
      <div class="billboard">
        <!-- Swiper, for PC -->
        <div class="swiper-container billboard-swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide billboard-video-container">
              <video class="bb-video" id="CMCM_BillboardVideo" autoplay="true" preload="none" loop="loop" muted poster="/dist/images/video-poster.jpg">
                <source src="/dist/images/cmcm-intro.mp4" type="video/mp4">
                <source src="/dist/images/cmcm-intro.ogv" type="video/ogg">
                <source src="/dist/images/cmcm-intro.webm" type="video/webm">
              </video>
              <div class="fake-video-for-ie8">
                <img src="/dist/images/video-poster-for-ie8.jpg" alt="Cheetah Mobile" />
              </div>
              <div class="bb-vmask"></div>
              <div class="bb-texts manage-width" id="CMCM_BillBoardTexts">
                <h1 class="slogan" id="CMCM_Slogan">
                  <% indexSlogan.forEach(function(text){ %>
                    <span><%= text %></span>
                  <% }); %>
                </h1>
                <h2 class="sub-slogan" id="CMCM_SubSlogan"><%= indexSubslogan %></h2>
              </div>
            </div><!-- End of one slider -->
          </div><!-- End of swiper-wrapper -->
        </div><!-- End of Swiper, for PC -->

        <!-- Swiper, for mobile -->
        <div class="swiper-container billboard-swiper-for-mobile" id="CMCM_SwiperInMobile">
          <div class="swiper-wrapper">
            <div class="swiper-slide billboard-images-container">
              <div class="bb-bg-in-mobile v-1"></div>
            </div><!-- End of one slider, v-1 -->
            <div class="swiper-slide billboard-images-container">
              <div class="bb-bg-in-mobile v-2"></div>
            </div><!-- End of one slider, v-2 -->
            <div class="swiper-slide billboard-images-container">
              <div class="bb-bg-in-mobile v-3"></div>
            </div><!-- End of one slider, v-3 -->
            <div class="swiper-slide billboard-images-container">
              <div class="bb-bg-in-mobile v-5"></div>
            </div><!-- End of one slider, v-5 -->
          </div><!-- End of swiper-wrapper -->
          <div class="bb-vmask"></div>
          <div class="bb-texts manage-width">
            <h1 class="slogan font-bold" id="CMCM_SloganForMobile">
              <% indexSlogan.forEach(function(text){ %>
                <span><%= text %></span>
              <% }); %>
            </h1>
            <h2 class="sub-slogan" id="CMCM_SubSloganForMobile"><%= indexSubslogan %></h2>
          </div>
        </div><!-- End of Swiper, for mobile -->

      </div><!-- .billboard -->
    </section><!-- .first-screen -->

    <section class="sections section-1" id="CMCM_Section_Product_AI">
      <div class="manage-width clearfix">
        <div class="sec-head clearfix">
          <h1 class="sec-title CMCM_SecTitle"><%= secTitleAI %></h1>
          <h2 class="sec-descr CMCM_SecDescr">
            <% secDescrAI.forEach(function(text){ %>
              <span><%= text %></span>
            <% }); %>
          </h2>
        </div><!-- sec-head -->
        <div class="sec-body">
          <div class="ai-container clearfix" id="CMCM_AIContainer">

            <div class="ai-left-content">
              <h3 class="app-name">
                <a class="app-namelink has-trans" href="<%= aiProLink %>" target="<%= aiProTarg %>"><%= aiProName %></a>
              </h3>
              <div class="app-desc">
                <% aiProDesc.forEach(function(text){ %>
                  <span><%= text %></span>
                <% }); %>
              </div>
            </div><!-- ai leftcontent -->
            
            <div class="ai-right-content">
              <div class="ai-chips abs ai-wave has-anim"></div>
              <div class="ai-chips abs ai-voice-box has-anim">
                <% aiProTags.forEach(function(tag, i){ %>
                <div class="ai-chips abs ai-bubbles ai-bubble-<%= i+1 %> has-trans has-anim">
                  <span class="ai-bbl-top has-trans"><b><%= tag.num %></b><%= tag.adj %></span>
                  <span class="ai-bbl-mid has-trans"><%= tag.noun %></span>
                  <span class="ai-bbl-btm has-trans"><%= tag.sentence %></span>
                </div><!-- bubble <%= i+1 %> -->
                <% }); %>
                <img class="ai-voicebox-on-mobile-only" src="/dist/images/ai-voice-box.png" alt="AI" />
              </div>
              <div class="ai-chips abs ai-voice-wakeup has-anim"></div>
            </div><!-- ai rightcontent -->

          </div><!-- ai container -->
        </div><!-- sec-body -->
      </div><!-- manage-width -->
    </section><!-- .section-1, AI -->

    <section class="sections section-2" id="CMCM_Section_Product_Tools">
      <div class="manage-width clearfix">
        <div class="sec-head clearfix">
          <h1 class="sec-title CMCM_SecTitle"><%= secTitleTools %></h1>
          <h2 class="sec-descr CMCM_SecDescr">
            <% secDescrTools.forEach(function(text){ %>
              <span><%= text %></span>
            <% }); %>
          </h2>
        </div><!-- sec-head -->
        <div class="sec-body">
          <div class="tools-container clearfix" id="CMCM_ToolsContainer">
          
            <div class="tool-unit proportion-100 rel">
              <div class="tool-inner clearfix">
                <div class="big-pic abs has-anim">
                  <img src="<%= CleanMasterBigPic %>" alt="<%= CleanMasterName %>" />
                </div>
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= CleanMasterLink %>" target="_blank">
                  <img src="<%= CleanMasterIcon %>" alt="<%= CleanMasterName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-0 has-trans" href="<%= CleanMasterLink %>" target="_blank"><%= CleanMasterName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= CleanMasterDescForIndex %></span>
                  </div>
                  <div class="tool-rank clearfix has-anim CMCM_Rank" data="<%= CleanMasterStar %>"></div>
                  <div class="tool-tags clearfix has-anim">
                    <% CleanMasterTags.forEach(function(tag){ %>
                      <a class="has-trans"><%= tag %></a>
                    <% }); %>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->


            <div class="tool-unit proportion-50 rel has-right-border">
              <div class="tool-inner clearfix">
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= SecurityMasterLink %>" target="_blank">
                  <img src="<%= SecurityMasterIcon %>" alt="<%= SecurityMasterName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-1 has-trans" href="<%= SecurityMasterLink %>" target="_blank"><%= SecurityMasterName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= SecurityMasterDescForIndex %></span>
                  </div>
                  <div class="tool-rank clearfix has-anim CMCM_Rank" data="<%= SecurityMasterStar %>"></div>
                  <div class="tool-tags clearfix has-anim">
                    <% SecurityMasterTags.forEach(function(tag){ %>
                      <a class="has-trans"><%= tag %></a>
                    <% }); %>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->


            <div class="tool-unit proportion-50 rel">
              <div class="tool-inner clearfix">
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= CMLauncherLink %>" target="_blank">
                  <img src="<%= CMLauncherIcon %>" alt="<%= CMLauncherName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-2 has-trans" href="<%= CMLauncherLink %>" target="_blank"><%= CMLauncherName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= CMLauncherDescForIndex %></span>
                  </div>
                  <div class="tool-rank clearfix has-anim CMCM_Rank" data="<%= CMLauncherStar %>"></div>
                  <div class="tool-tags clearfix has-anim">
                    <% CMLauncherTags.forEach(function(tag){ %>
                      <a class="has-trans"><%= tag %></a>
                    <% }); %>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->


            <div class="tool-unit proportion-33 rel has-right-border">
              <div class="tool-inner clearfix">
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= KeyboardLink %>" target="_blank">
                  <img src="<%= KeyboardIcon %>" alt="<%= KeyboardName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-3 has-trans" href="<%= KeyboardLink %>" target="_blank"><%= KeyboardName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= KeyboardDescForIndex %></span>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->


            <div class="tool-unit proportion-33 rel has-right-border">
              <div class="tool-inner clearfix">
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= PhotoGridLink %>" target="_blank">
                  <img src="<%= PhotoGridIcon %>" alt="<%= PhotoGridName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-4 has-trans" href="<%= PhotoGridLink %>" target="_blank"><%= PhotoGridName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= PhotoGridDescForIndex %></span>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->


            <div class="tool-unit proportion-33 rel">
              <div class="tool-inner clearfix">
                <a class="app-icon CMCM_AutoWidthSibling" href="<%= CMBrowserLink %>" target="_blank">
                  <img src="<%= CMBrowserIcon %>" alt="<%= CMBrowserName %>" />
                </a>
                <div class="tool-info CMCM_AutoWidth" data-padding="10">
                  <h3 class="app-name">
                    <a class="app-namelink tool-appname-5 has-trans" href="<%= CMBrowserLink %>" target="_blank"><%= CMBrowserName %></a>
                  </h3>
                  <div class="app-desc">
                    <span><%= CMBrowserDescForIndex %></span>
                  </div>
                </div><!-- End of tool-info -->
              </div><!-- End of tool-inner -->
            </div><!-- End of tool-unit -->

          </div><!-- tools container -->
        </div><!-- sec-body -->
      </div><!-- manage-width -->
    </section><!-- .section-2, tools -->


    <section class="sections section-3" id="CMCM_Section_Product_Social">
      <div class="manage-width clearfix">
        <div class="sec-head clearfix">
          <h1 class="sec-title CMCM_SecTitle"><%= secTitleSocial %></h1>
          <h2 class="sec-descr CMCM_SecDescr">
            <% secDescrSocial.forEach(function(text){ %>
              <span><%= text %></span>
            <% }); %>
          </h2>
        </div><!-- sec-head -->
        <div class="sec-body clearfix">
          <div class="live-intros left clearfix" id="CMCM_LiveMeTexts">

            <a class="app-icon has-trans CMCM_AutoWidthSibling" href="<%= LiveMeLink %>" target="_blank">
              <img src="<%= LiveMeIcon %>" alt="<%= LiveMeName %>" />
            </a>
            <div class="live-info CMCM_AutoWidth" data-padding="10">
              <h3 class="app-name">
                <a class="app-namelink liveme-appname has-trans" href="<%= LiveMeLink %>" target="_blank"><%= LiveMeName %></a>
              </h3>
              <div class="app-desc"><%= LiveMeDescForIndex %></div>
            </div><!-- live info -->
            <ul class="live-datas clearfix">
              <li class="live-data">
                <strong class="earth"><%= LiveMeTags_Earth1 %></strong>
                <b><%= LiveMeTags_Earth2 %></b>
                <s class="line"></s>
              </li>
              <li class="live-data">
                <strong class="tongue"><%= LiveMeTags_Tongu1 %></strong>
                <b><%= LiveMeTags_Tongu2 %></b>
                <s class="line"></s>
              </li>
              <li class="live-data">
                <strong class="award"><%= LiveMeTags_Award1 %></strong>
                <b><%= LiveMeTags_Award2 %></b>
              </li>
            </ul>

          </div><!-- live intros -->
          <div class="live-displays right">
            <div class="live-pink"></div>
            <div class="live-dots"></div>
            <img class="live-broadcaster has-anim" src="/dist/images/liveme-white-girl.jpg" alt="live.me" />
            <div class="live-video-box has-anim">
              <video class="live-video" autoplay="true" preload="none" loop="loop" muted poster="/dist/images/liveme-white-girl.jpg">
                <source src="/dist/images/broadcaster.mp4" type="video/mp4">
                <source src="/dist/images/broadcaster.ogv" type="video/ogg">
                <source src="/dist/images/broadcaster.webm" type="video/webm">
              </video>
            </div>
            <div class="live-small-window has-anim">
              <video class="live-by-video" autoplay="true" preload="none" loop="loop" muted poster="/dist/images/liveme-small-man.jpg">
                <source src="/dist/images/live-by.mp4" type="video/mp4">
                <source src="/dist/images/live-by.ogv" type="video/ogg">
                <source src="/dist/images/live-by.webm" type="video/webm">
              </video>
            </div>
          </div><!-- displays, right -->
        </div><!-- sec-body -->
      </div><!-- manage-width -->
    </section><!-- .section-3, live -->


    <section class="sections section-4" id="CMCM_Section_Product_Games">
      <div class="manage-width clearfix">
        <div class="sec-head clearfix">
          <h1 class="sec-title CMCM_SecTitle"><%= secTitleGames %></h1>
          <h2 class="sec-descr CMCM_SecDescr">
            <% secDescrGames.forEach(function(text){ %>
              <span><%= text %></span>
            <% }); %>
          </h2>
        </div><!-- sec-head -->
      </div><!-- manage-width -->
      <div class="cross-width clearfix">
        <a class="game-unit CMCM_GameUnit proportion-50-100 has-right-border" href="<%= PianoTilesLink %>" target="_blank">
          <img src="/dist/images/brandnew-game-bg-pt2.jpg" alt="<%= PianoTilesName %>" />
          <div class="abs pt-crumb"></div>
          <div class="abs pt-block has-anim"></div>
          <h3 class="abs pt-name has-anim"><%= PianoTilesName %></h3>
          <div class="abs pt-intro CMCM_GameIntros has-trans" data-href="<%= PianoTilesLink %>">
            <h4><%= PianoTilesName %></h4>
            <% PianoTilesDesc.forEach(function(text){ %>
              <p><%= text %></p>
            <% }); %>
          </div>
        </a><!-- game unit -->

        <a class="game-unit CMCM_GameUnit proportion-50-50" href="<%= RollingSkyLink %>" target="_blank">
          <img src="/dist/images/brandnew-game-bg-rs-bd.jpg" alt="<%= RollingSkyName %>" />
          <div class="abs rs-intro CMCM_GameIntros has-trans" data-href="<%= RollingSkyLink %>">
            <h4><%= RollingSkyName %></h4>
            <% RollingSkyDesc.forEach(function(text){ %>
              <p><%= text %></p>
            <% }); %>
          </div>
        </a><!-- game unit -->

        <a class="game-unit CMCM_GameUnit proportion-28-50 has-right-border" href="<%= DancingLineLink %>" target="_blank">
          <img src="/dist/images/brandnew-game-bg-dl.jpg" alt="<%= DancingLineName %>" />
          <div class="abs dl-stick-intro">
            <img class="abs dl-name" src="/dist/images/brandnew-game-bg-dl-name.png" alt="<%= DancingLineName %>" />
            <s class="abs dl-icon"></s>
          </div>
          <div class="abs dl-intro CMCM_GameIntros has-trans" data-href="<%= DancingLineLink %>">
            <h4><%= DancingLineName %></h4>
            <% DancingLineDesc.forEach(function(text){ %>
              <p><%= text %></p>
            <% }); %>
          </div>
        </a><!-- game unit -->

        <a class="game-unit CMCM_GameUnit proportion-22-50" href="<%= ArrowIOLink %>" target="_blank">
          <img src="/dist/images/brandnew-game-bg-arr-io.jpg" alt="<%= ArrowIOName %>" />
          <div class="abs gjs-stick-intro">
            <h4 class="abs gjs-name"><%= ArrowIOName %></h4>
            <s class="abs gjs-icon"></s>
          </div>
          <div class="abs gjs-intro CMCM_GameIntros has-trans" data-href="<%= ArrowIOLink %>">
            <h4><%= ArrowIOName %></h4>
            <% ArrowIODesc.forEach(function(text){ %>
              <p><%= text %></p>
            <% }); %>
          </div>
        </a><!-- game unit -->

      </div><!-- cross-width -->
    </section><!-- .section-4, games -->

    <% include ../partials/footer %>

  </div><!-- .cmcm-wrapper -->
  <script src="/dist/index.min.js?v=1750"></script>
</body>
</html>
